## python

**Problem.** Recall that $x$ degrees Celsius is

$$\frac{9}{5} x + 32$$

degrees Fahrenheit. *Using a list comprehension*, create a list with the temperatures in degrees Celsius given below, converted to degrees Fahrenheit. Print the list of converted temperatures.

In [1]:
# List of temperatures to convert
Celsius = [39.2, 33.3, 36.5, 31.6, 37.3, 37.8, 42.1, 28.6]

# List of temperatures in Fahrenheit
Fahrenheit = [ (9/5)*x + 32 for x in Celsius ]
print("Temperatures in deg F = {0}".format(Fahrenheit))

AnotherFahrenheit = [ (9/5) * Celsius[i] + 32 for i in range(8) ]
print("Another list of temperatures in deg F = {0}".format(AnotherFahrenheit))

Temperatures in deg F = [102.56, 91.94, 97.7, 88.88, 99.14, 100.03999999999999, 107.78, 83.48]
Another list of temperatures in deg F = [102.56, 91.94, 97.7, 88.88, 99.14, 100.03999999999999, 107.78, 83.48]

**Problem.** Write a function called `sum_double` that takes 2 integers as input, and outputs double their sum *unless* the two values are the same. Example inputs and outputs:

* `sum_double(1,2)` should return 6
* `sum_double(4,3)` should return 14
* `sum_double(2,2)` should return 4

In [2]:
def sum_double(a, b):
    sum = a + b
    if a == b:
        return sum
    else:
        return 2*sum

Test your `sum_double` function below.

In [3]:
sum_double(1,2)

6

In [4]:
sum_double(4,3)

14

In [5]:
sum_double(2,2)

4

**Problem.** Read the Python documentation on list methods found in Section 5.1 [here](https://docs.python.org/2/tutorial/datastructures.html). Use these methods to do the following with the list of student names given below.

* Find the index of first student named Zelda in the list.
* Insert your name in the 3rd position of the list.
* Sort the list in alphabetical order.
* Find how many students named Junior are in the list.
* Remove Leo from the list.

After each task, print the list to check your work.

In [6]:
# List of student names, generated courtesy of http://listofrandomnames.com
students = ["Sterling", "Malika", "Junior", "Shiloh", "Zelda", "Helene", "Leo", "Junior", "Jacinto", "Craig"]

In [7]:
# Find the index of first student named Zelda in the list.
students.index("Zelda")

4

In [8]:
# Insert your name in the 3rd position of the list.
students.insert(2, "Nelson")
students

['Sterling',
 'Malika',
 'Nelson',
 'Junior',
 'Shiloh',
 'Zelda',
 'Helene',
 'Leo',
 'Junior',
 'Jacinto',
 'Craig']

In [9]:
# Sort the list in alphabetical order.
students.sort()
students

['Craig',
 'Helene',
 'Jacinto',
 'Junior',
 'Junior',
 'Leo',
 'Malika',
 'Nelson',
 'Shiloh',
 'Sterling',
 'Zelda']

In [10]:
# Find how many students named Junior are in the list.
students.count("Junior")

2

In [11]:
# Remove Leo from the list.
students.remove("Leo")
students

['Craig',
 'Helene',
 'Jacinto',
 'Junior',
 'Junior',
 'Malika',
 'Nelson',
 'Shiloh',
 'Sterling',
 'Zelda']